table#branches
	thead
		tr
			th
				span.badge
			th Name
			th Hash
			th Message
	if branches.hasData
		tbody
			each branch in branches.data
				tr(class=branch.hash === uid.hash ? 'selected-row' : '')
					td
						span.badge
							if branch.hash === uid.hash
								| &rarr;
					td= branch.name
					td
						a(href=`/${branch.hash}`)
							= branch.hash
					td(title=branch.subject)
						= branch.subject