extends layout

block content
	h1= title
	h2= hash
	if (data && data.length > 0)
		ul.directories
			each item in data
				li
					a(href=`/directory/${item.hash}`)
						span
							if (item.type === 'tree')
								| D
						= item.name
