extends layout

block content
	- var currentIndex = -1

	mixin col(title)
		div.col(class=col === ++ currentIndex ? 'col--open' : '')
			div.col__body
				block
			div.col__header
				span= title

	div.row
		+col('Branches')
			include branches

		+col('Commits')
			include commits

		+col('Directory')
			include directory
