@charset 'utf-8'

@import 'reset.sass'

html
	font-size: 14px

body
	padding: 50px
	font-family: Lucida Grande, Helvetica, Arial, sans-serif
	font-size: 1rem

h1, h2, h3,
h4, h5, h6
	margin-bottom: .67em
	font-weight: bold

h1
	font-size: 2em

h2
	font-size: 1.8em

a
	color: #00b7ff

table
	width: 100%

ul.directories
	li
		span
			display: inline-block
			width: 2rem